circle {
    fill: #a02020;
}

path {
    stroke: #a02020;
    stroke-width: 8px;
}

.small {
    fill: white;
}

g.contained circle.small {
    fill: #573d29;
}

g.contained circle 
g.contained #rect {
    fill: #c0c0c0;
    stroke: none;
    opacity: 1;
}

#interactive {
    fill: #c0c0c0;
    stroke: #bd250d;
    stroke-width: 4px;

}

#interactive:hover {
    fill: #bd250d;
}

rect {
    opacity: 0;
}

path:last-child {
    stroke: none;
}

